@import url(http://allfont.net/allfont.css?fonts=agency-fb-bold);
body {
  background-color: #FFF9F2;
}
/*.container-fluid {
  margin: 0;
  padding: 0;
}
/*Nav styles*/
.navbar {
  border-radius: 0 0 25px 25px;
  opacity: 0.8;
  position: fixed;
  width: 100%;
  z-index: 16;
  text-align: center;
  font-family: 'Agency FB Bold', arial;
}
.navbar:hover {
  opacity: 1;
}
.navbar-default {
 	background-color: #060007;
  border-color: #060007;
}
.navbar-default .navbar-nav > li > a {
 	color: #FFF9F2;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #F97840;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #FFF9F2;
  background-color: #FFF9F2;
}
.navbar-default .navbar-nav > .open > a,.navbar-default .navbar-nav > .open > a:hover,.navbar-default .navbar-nav > .open > a:focus {
  color: #FFF9F2;
  background-color: #FFF9F2;
}
.navbar-default .navbar-brand {
  padding: 5px 0 0 25px;
}
.navbar-default .navbar-brand img {
  width: 250px;
}
.navbar-default .navbar-toggle {
  border-color: #FFF9F2;
  margin-right: 25px;
}
.navbar-default .navbar-toggle:hover,
    .navbar-default .navbar-toggle:focus {
     background-color: #F97840;
}
.navbar-default .navbar-toggle .icon-bar {
     background-color: #FFF9F2;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
      color: #FFF9F2;
   }
   .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
      color: #FFF9F2;
    }
}
/*Footer*/
footer {
  background-color: #060007;
  border-radius: 25px 25px 0 0;
  text-align: center;
  color: #FFF9F2;
}
footer .col-md-4 {
  padding: 15px 0;
}
.socials {
  font-size: 2em;
  color: #FFF9F2;
}
/*Home*/
#myCarousel {
  height: 70vh;
}
.carousel-inner, .carousel-control {
  border-radius: 0 0 25px 25px;
}
.carousel-inner .item img {
  min-width: 100vw; 
  min-height: 70vh;
}
.carousel-inner {
  height: 70vh;
}
.content-section {
  padding: 15px 0px;
}
.divider {
  border-bottom: 3px solid #F97840;
}
