@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT&display=swap');
@import url('https://fonts.googleapis.com/css?family=Teko&display=swap');
/*General*/
body {
  background-color: #FFF9F2;
  font-family: 'Old Standard TT', serif;
  color: #060007;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Teko', sans-serif;
}
h2 {
  margin: 0px;
}
.headerImg {
  border-radius: 0 0 25px 25px;
  width: 100%; 
  height: 50vh;
  overflow: hidden;
}
.headerImg img {
  width: 100vw; 
  min-height: 50vh;
}
.smallBody {
  min-height: 25vh;
}
/*Nav*/
.navbar {
  border-radius: 0 0 25px 25px;
  opacity: 0.8;
  position: fixed;
  width: 100%;
  z-index: 16;
  text-align: center;
}
.navbar:hover {
  opacity: 1;
}
.navbar-default {
 	background-color: #060007;
  border-color: #060007;
}
.navbar-default .navbar-nav > li > a {
 	color: #FFF9F2;
  font-family: 'Old Standard TT', serif;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #F97840;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #FFF9F2;
  background-color: #FFF9F2;
}
.navbar-default .navbar-nav > .open > a,.navbar-default .navbar-nav > .open > a:hover,.navbar-default .navbar-nav > .open > a:focus {
  color: #FFF9F2;
  background-color: #FFF9F2;
}
.navbar-default .navbar-brand {
  padding: 5px 0 0 25px;
}
.navbar-default .navbar-brand img {
  width: 250px;
}
.navbar-default .navbar-toggle {
  border-color: #FFF9F2;
  margin-right: 25px;
}
.navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus {
   background-color: #F97840;
}
.navbar-default .navbar-toggle .icon-bar {
     background-color: #FFF9F2;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
      color: #FFF9F2;
   }
   .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
      color: #FFF9F2;
    }
}
/*Footer*/
footer {
  background-color: #060007;
  border-radius: 25px 25px 0 0;
  text-align: center;
  color: #FFF9F2;
}
footer .col-md-4 {
  padding: 15px 0;
}
footer a {
  color: #FFF9F2;
  text-decoration: underline;
}
.socials a {
  font-size: 2em;
}
footer a:hover {
  color: #F97840;
}
.smallfooter {
  min-height: 24vh;
}
/*Carousel (on home page)*/
#myCarousel {
  height: 50vh;
}
.carousel-inner, .carousel-control {
  border-radius: 0 0 25px 25px;
}
.carousel-inner .item img {
  min-width: 100vw; 
  min-height: 50vh;
  border-radius: 0 0 25px 25px;
}
.carousel-inner {
  height: 50vh;
}
.mycaption {
  font-family: 'Teko', sans-serif;
  top: 20vh; 
  font-size: 5vh; 
  line-height: 5vh;
  height: 40vh;
}
#myCarousel .mycaption {
  top: 12.5vh !important;
}
/*Home*/
.content-section {
  padding: 15px 0px;
}
.content-section ol {
  text-align: center; 
  list-style-position: inside;
}
.divider {
  border-bottom: 3px solid #F97840;
}
.roundbtn {
  background-color: #E84353; 
  height: 50px; 
  width: 50px; 
  border-radius: 25px; 
  margin-left: calc(50% - 25px);
  font-size: 30px;
  line-height: 60px;
  padding-left: 11px;
  color: #060007;
}
.roundbtn:hover {
  box-shadow: 5px 5px 10px #060007;
  color: #060007;
}
/*Flights*/
td, th {
  border-top: none !important;
  padding: 20px 10px !important;
  font-size: 16px !important;
  text-align: center;
  width: 40%;
}
.price {
  width: 20%;
}
tr {
  border-bottom: 3px solid #F97840;
}
/*Forms and buttons*/
form {
  border: 3px solid #F97840;
  border-radius: 25px;
  padding: 15px;
  margin: 5px 0;
}
input::ms-input-placeholder {
  color: #060007 !important;
}
input, .form-control, .callToAction, .btn {
  color: #060007 !important;
}
input::placeholder {
  color: #060007 !important;
}
input::-webkit-input-placeholder {
  color: #060007 !important;
}
.form-control, .form-control:hover, .form-control:focus, .btn-primary, .btn-primary:hover, .btn-primary:focus, .callToAction {
  background-color: #E84353;
  border: none;
  border-radius: 0px;
}
.form-control:hover, .form-control:focus, .form-control:active:hover, .btn-primary:hover, .btn-primary:focus, .btn-primary:active:hover, .callToAction:hover, .callToAction:focus, .callToAction:active:hover {
  background-color: #E84353;
  outline: none;
  border: none;
  box-shadow: 5px 5px 10px #060007;
}
.callToAction {
  height: 85px;
  border-radius: 20px;
  width: 200px;
  text-align: center;
  margin-left: calc(50% - 100px);
}
.callToAction a, .callToAction a:hover, .callToAction a:focus {
  text-decoration: none;
  color: #060007;
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 10px;
}
.file {
  display: none !important;
}
.filebtn {
  background-color: #E84353;
  padding: 10px;
}
.filebtn:hover, .filebtn:focus {
  box-shadow: 5px 5px 10px #060007;
}
